<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body{
            background-image: url('static/posting_banner.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;                 background-attachment: fixed;
        }
        .card{
            opacity:94%;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <h2 class="text-center mt-4 mb-2 heading">Dynamic Careers</h2>
    <div class="container mt-5 card">
        <h2 class="text-center mt-4 mb-3">Internship Posting Form</h2>
        <form action="/new_internships/success" method="post">
            <div class="mb-3">
                <label for="jobTitle" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter job title" required>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" placeholder="Enter location" required>
            </div>

            <div class="mb-3">
                <label for="stipend" class="form-label">Stipend</label>
                <input type="text" class="form-control" name="stipend" placeholder="Enter stipend" required>
            </div>

            <div class="mb-3">
                <label for="currency" class="form-label">Currency</label>
                <input type="text" class="form-control" name="currency" placeholder="Enter Currency" required>
            </div>

            <div class="mb-3">
                <label for="work_time" class="form-label">Duration</label>
                <input type="text" class="form-control" name="work_time" placeholder="Enter internship duration" required>
            </div>

            <div class="mb-3">
                <label for="requirements" class="form-label">Requirements</label>
                <textarea class="form-control" name="requirements" rows="4" placeholder="Enter requirements" required></textarea>
            </div>

            <div class="mb-3">
                <label for="responsibilities" class="form-label">Responsibilities</label>
                <textarea class="form-control" name="responsibilites" rows="4" placeholder="Enter responsibilities" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary mb-4">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb0xKlv3rZn5P4BYU9Xuk4EP4pSHXSPlI0j6qBTyCbk5S3mQ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qh3fLJqv6J21ehXW6oMj0rD3vFJgO64sIOeHoUauJBS8ioJjcJq0/BN9xL7YdZcE" crossorigin="anonymous"></script>
    {% include 'footer.html' %}
</body>

</html>